<div class="row">
  <div class="col-12">
    <div class="content-header">System Management</div>
  </div>
</div>
<section id="input-style">
  <section id="simple-validation">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Add User</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <form [formGroup]="accountForm">

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="userCode">User Code</label>
                        <input type="text" id="userCode" class="form-control" placeholder=""
                          formControlName="userCode">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" placeholder=""
                               formControlName="password">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" placeholder="" formControlName="name">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-6">
                    <label for="department">Permission</label>
                    <div class="input-group">
                      <select class="custom-select" id="department" formControlName="department">
                        <option selected>Select...</option>
                        <option [ngValue]="1">Administrator</option>
                        <option [ngValue]="2">User</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-row">

                </div>
                <div class="form-group">
                  <label for="note">Note</label>
                  <textarea id="note" rows="4" class="form-control" formControlName="note"></textarea>
                </div>


                <div class="btn-container">
                  <button type="button" (click)="onCancel()" class="btn btn-secondary btn-add"><i
                      class="ft-x"></i>&nbsp;Cancel</button>
                  <button type="button" (click)="onSubmit()" class="btn btn-primary"><i
                      class="ft-check-square"></i>&nbsp;Confirm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
