<ul class="nav nav-list">
	<li class="">
		<a href="#/home">
			<i class="menu-icon fa fa-info-circle"></i>
			<span class="menu-text"> Information </span>
		</a>
		<b class="arrow"></b>
	</li>
	<li class="">
		<a href="#/backendAccount">
			<i class="menu-icon fa fa-user"></i>
			<span class="menu-text"> Account </span>
		</a>
		<b class="arrow"></b>
	</li>
	<li class="">
		<a href="#/content">
			<i class="menu-icon fa fa-file-text"></i>
			<span class="menu-text"> Content </span>
		</a>
		<b class="arrow"></b>
	</li>
</ul>