<section class="contBlock adminInfo userAddData">
  <header class="cbHead">
    <span class="cbHeadTitle">Edit Backend Account</span>
  </header>
  <form class="pageContsBlock" name="myForm" id="myForm" style="padding: 20px;">
    <div class="form-group">
      <div class="row">
        <label class="col-md-2 col-sm-3 col-xs-12 control-label"> <font color="#FF0000">*</font>Account</label>
        <div class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-0 col-xs-12">
          <input type="text" ng-disabled="true" ng-model="adminInfo.userCode" style="width: 100%;"
            ng-pattern="/^[A-Za-z0-9]+$/" required />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <label class="col-md-2 col-sm-3 col-xs-12 control-label"> <font color="#FF0000">*</font>Rule</label>
        <div class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-0 col-xs-12">
          <select class="col-xs-10 col-sm-5" ng-model="adminInfo.adminType" convert-to-number required>
            <option value="0">System Maintenance</option>
            <option value="1">Administrator</option>
<!--            <option value="2">Maintainer</option>-->
            <option value="3">User</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <label class="col-md-2 col-sm-3 col-xs-12 control-label"> <font color="#FF0000">*</font>Username</label>
        <div class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-0 col-xs-12">
          <input type="text" ng-model="adminInfo.userName" style="width: 100%;" required />
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="col-md-offset-3 col-md-9">
        <button type="submit" class="btn btn-sm btn-save" ng-disabled="loading" ng-click="save(myForm.$valid)">
          Send
        </button>
        <button type="reset" class="btn btn-sm btn-cancel " ng-click="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</section>