<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingchang.BlogService.database.ArticleTypeMapper">
  <resultMap id="BaseResultMap" type="com.mingchang.BlogService.model.database.ArticleType">
    <id column="ARTICLE_TYPE_ID" jdbcType="INTEGER" property="articleTypeId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ARTICLE_TYPE_ID, NAME, STATUS, CREATION_DATE, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article_type
    where ARTICLE_TYPE_ID = #{articleTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article_type
    where ARTICLE_TYPE_ID = #{articleTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mingchang.BlogService.model.database.ArticleType">
    insert into article_type (ARTICLE_TYPE_ID, NAME, STATUS, 
      CREATION_DATE, UPDATE_DATE)
    values (#{articleTypeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mingchang.BlogService.model.database.ArticleType">
    insert into article_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleTypeId != null">
        ARTICLE_TYPE_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleTypeId != null">
        #{articleTypeId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mingchang.BlogService.model.database.ArticleType">
    update article_type
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ARTICLE_TYPE_ID = #{articleTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mingchang.BlogService.model.database.ArticleType">
    update article_type
    set NAME = #{name,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where ARTICLE_TYPE_ID = #{articleTypeId,jdbcType=INTEGER}
  </update>
</mapper>