<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingchang.BlogService.database.TypeRegMapper">
  <resultMap id="BaseResultMap" type="com.mingchang.BlogService.model.database.TypeReg">
    <id column="TYPE_REG_ID" jdbcType="INTEGER" property="typeRegId" />
    <result column="ARTICLE_ID" jdbcType="INTEGER" property="articleId" />
    <result column="ARTICLE_TYPE_ID" jdbcType="INTEGER" property="articleTypeId" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    TYPE_REG_ID, ARTICLE_ID, ARTICLE_TYPE_ID, STATUS, CREATION_DATE, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from type_reg
    where TYPE_REG_ID = #{typeRegId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from type_reg
    where TYPE_REG_ID = #{typeRegId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mingchang.BlogService.model.database.TypeReg">
    insert into type_reg (TYPE_REG_ID, ARTICLE_ID, ARTICLE_TYPE_ID, 
      STATUS, CREATION_DATE, UPDATE_DATE
      )
    values (#{typeRegId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{articleTypeId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mingchang.BlogService.model.database.TypeReg">
    insert into type_reg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeRegId != null">
        TYPE_REG_ID,
      </if>
      <if test="articleId != null">
        ARTICLE_ID,
      </if>
      <if test="articleTypeId != null">
        ARTICLE_TYPE_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeRegId != null">
        #{typeRegId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="articleTypeId != null">
        #{articleTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mingchang.BlogService.model.database.TypeReg">
    update type_reg
    <set>
      <if test="articleId != null">
        ARTICLE_ID = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="articleTypeId != null">
        ARTICLE_TYPE_ID = #{articleTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TYPE_REG_ID = #{typeRegId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mingchang.BlogService.model.database.TypeReg">
    update type_reg
    set ARTICLE_ID = #{articleId,jdbcType=INTEGER},
      ARTICLE_TYPE_ID = #{articleTypeId,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where TYPE_REG_ID = #{typeRegId,jdbcType=INTEGER}
  </update>
</mapper>