<div class="main-content  cs-padding-20">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    <a href="#/home" style="color: #006895; text-decoration:none;">
                        Content Management
                    </a>
                </h1>
            </div>
            <!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12 col-sm-12 widget-container-col">
                    <div class="widget-box widget-color-samon" id="widget-box-9">
                        <div class="widget-header">
                            <h5 class="widget-title">Add Content</h5>
                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="1 ace-icon fa fa-chevron-up bigger-125"></i>
                                </a>
                            </div>
                        </div>
                        <form class="widget-body" name="contentForm" id="contentForm">
                            <div class="widget-main">
                                <div class="row margin_top">
                                    <div class="col-xs-12 col-sm-12 widget-container-col">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right">
                                                <font color="#FF0000">*</font>Title
                                            </label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="" class="form-control"
                                                    ng-model="content.title" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin_top">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right">
                                                <font color="#FF0000">*</font>Category 1</label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="" class="form-control"
                                                    ng-model="content.category1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin_top">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right">
                                                <font color="#FF0000">*</font>Category 2</label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="" class="form-control"
                                                       ng-model="content.category2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin_top">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right">
                                                <font color="#FF0000">*</font>Category 3</label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="" class="form-control"
                                                       ng-model="content.category3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin_top">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label no-padding-right">
                                                <font color="#FF0000">*</font>Content </label>
                                            <div class="col-sm-11">
                                                <input type="text" placeholder="" class="form-control"
                                                    ng-model="content.content">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-toolbox padding-8 clearfix">
                                <button class="btn btn-sm btn-add pull-right margin_left" ng-click="saveContent(contentForm.$valid)">
                                    <i class="ace-icon glyphicon glyphicon-save"></i>Save</button>
                                <button class="btn btn-sm btn-search pull-right margin_left" ng-click="cancel()">
                                    <i class="ace-icon glyphicon glyphicon-remove"></i>Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.main-content -->
        </div>
    </div>
</div>