<div class="login-content row">
    <div class="box">
        <div class="text-center">
            <form role="form" name="myForm">
                <div class="row">
                    <div class="title">Blog Backend</div>
                    <div class="form-group col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                        <div class="col-md-2 col-xs-2"  style="padding:0;">
                            <img class="login-icon" src="assets/img/bar_one_id.png">
                        </div>
                        <div class="col-md-10 col-xs-10" style="margin:0;padding:0;">
                            <input type="text" class="form-control input-text" placeholder="Account" ng-model="loginUser.userCode" required>
                        </div>
                    </div>
                    <div class="form-group col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                        <div class="col-md-2 col-xs-2"  style="padding:0;">
                            <img class="login-icon" src="assets/img/bar_two_password.png">
                        </div>
                        <div class="col-md-10  col-xs-10" style="margin:0;padding:0;">
                            <input type="password" name="password" class="form-control input-text" placeholder="Password" ng-model="loginUser.password" required>
                        </div>
                    </div>
                    <div class="form-group col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                        <div class="col-md-2 col-xs-2"  style="padding:0;">
                            <img class="login-icon" src="assets/img/bar_three_enterword.png">
                        </div>
                        <div class="col-md-4 col-xs-4" style="margin:0;padding:0;">
                            <input type="vCodeId" name="vCodeId" class="form-control"  placeholder="Captcha" ng-model="loginUser.vCodeId" required >
                        </div>
                        <div class="col-md-2 col-xs-2" style="padding-left:12px">
                            <span class="vcodeImg"><canvas id="CapCode" class="cursor-pointer" width="84" height="45" ng-click="createCaptcha()"></canvas></span>
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <div class="checkbox col-md-12 col-xs-12" style="margin: 5px 15px;padding:0;text-align:justify;">
                            <label style="font-size: 1.2em">
                                <input type="checkbox" ng-model="isCheck" ng-change="isMemory()" >
                                <span class="cr"><i class="cr-icon material-icons">check</i></span>
                                <span>Remember me</span>
                            </label>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3 col-xs-3">
                        <input type="hidden" name="save" value="contact">
                        <button ng-hide="dataLoading" name="submit" type="submit" class="btn btn-default btn-lg btn-block login-btn" ng-click="login(myForm.$valid)">Login</button>
                        <button ng-show="dataLoading" class="btn btn-default btn-lg btn-block login-btn"><i class="fa fa-spinner fa-spin"></i></button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
		
