/* You can add global styles to this file, and also import other style files */

.icon20px {
    font-size: 20px;
}

.checkbox-label {
    font-size: 20px;
}

.calendar-style {
  background-color: #00A3A3;
  font-size: 20px;
}

.calendar-style .p-inputgroup-addon {
  background-color: #00A3A3;
  color: white;
  border: #00A3A3 solid 2px;
}

.filter-style {
  background-color: #00A3A3;
  font-size: 16px;
}

.filter-style input {
  border: #00A3A3 solid 2px;
}

.filter-style .p-inputgroup-addon {
  background-color: #00A3A3;
  color: white;
  border: #00A3A3 solid 2px;
}
