.height400{
    height: 400px;
}


/*** 公車路線總覽新增 ***/
.routeMainAdd .infobox{
    top: 146px;
    width: 100%;
    height: 44px;
    padding: 0px;
    margin: auto 0px;
    border-width: 0px;
    text-align: center;
}

.thumbnail .caption.routeMainAdd{
    height: 390px;
}

.routeMainAdd p{
    height: 27px;
    font-weight: bold;
    font-size: 1.17em;
    padding-top: 5px;
    margin-bottom: 0px;
}



.btn.btn-circle {
    display: inline-block;
    width: 100px;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    text-shadow: initial;
    border: none;
    border-radius: 50px;
    padding: 12px 0 8px;
    margin: 2px;
    line-height: 1.7;
    position: relative;

}
.btn-circle, .btn-circle.btn-default, .btn-circle.btn-default.disabled:hover, .btn-circle.btn-default.no-hover:hover, .btn-circle.disabled:hover, .btn-circle.no-hover:hover {
 border-radius: 50px;
 width: 40px;  
 height: 40px; 
}
.btn-circle.btn-red, .btn-circle.btn-red.disabled:hover, .btn-circle.btn-red.no-hover:hover {
    color: #fff;
    background-color: #ec7b7c!important;
    border-color: #ec7b7c!important;
}
.btn-circle.btn-water, .btn-circle.btn-water.disabled:hover, .btn-circle.btn-water.no-hover:hover {
    color: #fff;
    background-color: #74bed4!important;
    border-color: #74bed4!important;
}
.btn-circle.btn-plus, .btn-circle.btn-plus.disabled:hover, .btn-circle.btn-plus.no-hover:hover {
    color: #fff;
    background-color: #F09596!important;
    border-color: #F09596!important;
    width: 60px !important;
    height: 60px !important;
    font-size:28px!important;
}

.search-thumbnail .search-title {
    margin-top: 15px;
    color: #AC4849;
}

.infobox {
    width: 100%;
}